@media only screen and (max-width: 768px) {
  body {
    padding-left: 0;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    padding: 0 30px;
  }
  .navbar {
    padding: 0 30px;
  }
  aside {
    background-image: url(../images/illustration-devices.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
  }
  section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .schedule span {
    letter-spacing: none;
    font-size: 10px;
  }

  /* =========================Mobile Hamburger Menu============================= */

  .hamburgerMenu {
    display: block;
  }

  .hamburgerMenu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburgerMenu.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .hamburgerMenu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    flex-direction: column;
    background-color: #fff;
    color: black;
    width: 80%;
    height: 70%;
    text-align: center;
    transition: 0.3s;
    font-size: 1.5rem;
    border-radius: 6px;
    margin-right: 50px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }

  a {
    margin: 4px 0;
    color: white;
  }
  .nav-menu.active {
    right: 0;
  }
  .line {
    width: 80%;
    height: 2px;
    background-color: var(--Grayish-Blue);
  }
  h1 {
    font-size: 2rem;
    width: 250px;
  }
}
